html
  head
    title='Docker Rocks'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Docker learners!!!
        p Dont worry. I updated the packages in this app as recent as May 2020. 
        p Because we follow the 4DwC model of cloud native development.
        p We Develop,Deploy,Deliver,Daily
        p 
